<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EpicTask</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav >
        <a href="/logout" tittle="'sair">
            <span class="metrial-icons">exit_to_app</span>
        </a>
    </nav>

    <h1>EpicTask</h1>
    
    <a class="btn blue" href="/tarefas/cadastrar">Cadastrar</a>

    <!-- <p th:text="test"></p> -->
    <span 
        class="alert" 
        th:text="${mensagem}"
        th:if="${mensagem != null}"
    ></span>

    <div class="tasks">

        <div class="card-task" th:each="tarefa : ${tarefas}">
            <h2 th:text="${tarefa.titulo}"></h2>
            <p th:text="${tarefa.descricao}"></p>
            <form action="/tarefas" method="POST">
                <input type="hidden" name="_method" value="DELETE"/>

                <input type="hidden" name="id" th:value="${tarefa.id}"/>

                <button class="btn btn-sm red">apagar</button>
                    <span class="material-icons">delete</span>
            </form>
        </div>
    </div>
</body>
</html>