<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Moto</h1>
    <div class="content">
        <form action="/motos" method="POST">
            <input type="text" placeholder="nome_moto" name="nome_moto">
            <textarea name="descricao" id="" cols="30" rows="10"></textarea>
            <div class="actions">
                <a class="btn" href="/tarefa">CANCELAR</a>
                <button class="btn blue">SALVAR</button>
            </div>
        </form>
    </div>
</body>
</html>